.card-item {
    margin-top: 30px;
    border: 1px solid #259ec8;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 5px;
}

footer {
    margin-top: 30px;
}

.ul-footer {
    list-style: none;
    & li a {
        color: white;
        margin-top: 30px;
        font-size: 20px;
    }
}
