<div class="card bg-dark text-white imgfooter">
    <div class="container">
        <div class="row mt-4">
            <div class="col-lg-4">
                <h4>F8</h4>
                <ul class=" text-danger ul-footer">
                    <li> <a href="#">Giới thiệu</a></li>
                    <li> <a href="#">Câu hỏi thường gặp</a></li>
                    <li> <a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Sản phẩm</h4>
                <ul class=" text-danger ul-footer">
                    <li> <a href="#">MyCV.vn</a></li>
                    <li> <a href="#">Fullstack.edu.vn</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h4>Hỗ trợ</h4>
                <ul class=" text-danger ul-footer">
                    <li> <a href="#">Hỗ trợ</a></li>
                    <li> <a href="#">Đóng góp</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>