<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Blog Chảnh</a>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img src="https://scontent.fhan3-1.fna.fbcdn.net/v/t1.0-9/117933312_3160820684033008_1894872128508554607_o.jpg?_nc_cat=109&_nc_sid=8bfeb9&_nc_ohc=rbltA9HtFBwAX8wWihC&_nc_ht=scontent.fhan3-1.fna&oh=6dbae766e893c559a1fa02df8821a184&oe=5F97A27F" alt="" class="user-avatar">
                    Chảnh Chảnh
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/courses/create">Create new course</a>
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/me/stored/courses">My courses</a>
                        <a class="dropdown-item" href="#">My blogs</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Log out</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>